.blueborder {
    border: solid;
    border-color: var(--theme-color);
    border-radius: 100px;
}
:focus-visible {
    outline: none;
}
i {
    font-style: normal;
}
progress {
    left: 10px;
    bottom: 5px;
    right: 20px;
    text-align: center;
    position: fixed;
    width: 95%;
    display: inline-block;
    height: 40px;
    z-index: -1;
}
p#jindu, p#title {
    left: 10px;
    bottom: 0px;
    right: 20px;
    position: fixed;
    z-index: 0;
    /*top: calc(423.88px + 30%);*/
}
input[type=file] {
    width: 70px;
}
input[type=text] {
    text-align: center;
}
p#jindu {
    left: 85%;
}
p#title {
    left: 5%;
}
#send {
    margin: 0 35%;
    background-color: var(--theme-color);
    border: none;
    box-shadow: 0 5px 30px rgb(65 145 245 / 30%);
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
    display: block;
    font-size: 14px;
    height: 49px;
    margin-bottom: 20px;
    transition: background-color .25s,box-shadow .25s,color .25s,opacity .25s;
    width: 30%;
}
@media only screen and (max-device-width: 482.328px) {
    .popup {
        width: 90%;
        left: 5%;
    }
}
@media only screen and (min-device-width: 482.328px) {
    .popup {
        width: 30.1455%;
        left: 34.92725%;
    }
}
.popup {
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0 5px 30px #999999;
    box-sizing: border-box;
    height: 390px;
    opacity: 1;
    position: absolute;
    top: calc(50% - 200px);
    z-index: 2;
    overflow: hidden;
}
.popup > div {
    text-align: center;
    overflow-x: hidden;
    margin: 2%;
    height: 100%;
}
.close-btn, .close-btn-formenu {
    padding: 30px 0 30px 0;
    cursor: pointer;
    height: 25px;
    width: 25px;
}
.close-btn {
    position: absolute;
    right: 12.82051282051282%;
}
.close-btn-formenu {
    top: 25px;
    position: fixed;
    right: 25px;
}
.close-btn::after, .close-btn-formenu::after{
    content: "";
    height: 2px;
    transition: all .25s;
    transform: rotate(315deg);
}
.close-btn::after {
    background-color: #b4b4b4;
    width: 100%;
    position: absolute;
    left: 0;
    top: calc(50% - 1px);
}
.close-btn-formenu::after {
    background-color: var(--theme-color);
    width: 25px;
    position: fixed;
    right: 25px;
    top: 25px;
}
.close-btn::before, .close-btn-formenu::before {
    content: "";
    height: 2px;
    transition: all .25s;
    transform: rotate(45deg);
}
.close-btn::before {
    background-color: #b4b4b4;
    width: 100%;
    position: absolute;
    left: 0;
    top: calc(50% - 1px);
}
.close-btn-formenu::before {
    background-color: var(--theme-color);
    width: 25px;
    position: fixed;
    right: 25px;
    top: 25px;
}
.menu-icon {
    cursor: pointer;
    position: fixed;
    top: 25px;
    right: 25px;
    width: 25px;
}
.menu-icon>div:first-of-type {
    margin-bottom: 6px;
}
.menu-icon>div {
    background-color: var(--theme-color);
    height: 2px;
    transition: all .25s;
    width: 100%;
}
.menu-icon>div:last-of-type {
    margin-top: 6px;
}
#menu {
    -webkit-app-region: no-drag;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 5px 30px #999999;
    box-sizing: border-box;
    min-width: 160px;
    overflow: auto;
    padding: 5px;
    position: absolute;
    top: 50px;
    transition: all .25s;
    right: 10px;
    text-align: center;
}
.menu-item {
    border-radius: 5px;
    color: #000000;
    cursor: pointer;
    height: 40px;
    line-height: 40px;
    padding: 0 15px 0 50px;
    transition: all .25s;
    white-space: nowrap;
}
.menu-item:hover {
    background-color: var(--theme-color);
}
.menu-item-icon {
    font-size: 16px;
    left: 20px;
    margin-top: 5%;
    position: absolute;
}
.menu-line {
    background-color: #ededed;
    height: 1px;
    margin: 5px 0;
    width: 100%;
}
#app {
    z-index: 1;
    color: var(--theme-color);
    text-align: center;
    height: 100%;
    width: 100%;
    font-size: 50px;
}
body {
    height: 98%;
    width: 98%;
}
html {
    height: 100%;
    width: 100%;
}
#app:nth-child(1){
    margin-top: calc(50% - 174.5px);
}
#language {
    font-size: 70px;
    width: 370px;
    height: 170px;
}
label {
    cursor: pointer;
}
button[type="submit"] {
    cursor: pointer;
    height: 38px;
    border: 1px solid transparent;
    color: #ffffff;
    font-weight: normal;
    background-color: var(--theme-color);
    padding: 0 18px;
}
img {
    height: 200px;
    width: 200px;
    user-select: none;
}
h2, h3 {
    font-weight: normal;
}
#dragaera {
    text-align: center;
    border: 1px solid var(--theme-color);
    border-radius: 10px;
}
.radio {
    margin: 0.5rem;
}
.radio input[type=radio] {
    opacity: 1;
}
.radio input[type=radio] + .radio-label:before {
    content: "";
    background: #f4f4f4;
    border-radius: 100%;
    border: 1px solid #b4b4b4;
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    position: relative;
    top: -0.2em;
    margin-right: 1em;
    vertical-align: top;
    cursor: pointer;
    text-align: center;
    transition: all 250ms ease;
}
.radio input[type="radio"]:checked + .radio-label:before {
    background-color: var(--theme-color);
    box-shadow: inset 0 0 0 4px #f4f4f4;
}
.radio input[type="radio"]:focus + .radio-label:before {
    outline: none;
    border-color: var(--theme-color);
}
.radio input[type="radio"] + .radio-label:empty:before {
    margin-right: 0;
}
input[type="color"] {
    border-width: 0;
    width: 50%;
    height: 50%;
}
*:not(.fa) {
    font-family: system-ui;
}
.peerjs {
    color: #000;
    height: 67.5px;
    background-image: url(https://peerjs.com/logo.cd315309.png);
    background-position: 100%;
    background-repeat: no-repeat;
    font-weight: 900;
    line-height: 70px;
}
svg {
    text-align: left;
    overflow: auto;
    height: 75px;
}
path[stroke] {
    transform: scale(0.55);
}
.peerjs h3 {
    display: inline-block;
}
a {
    text-decoration: none;
}
#fa {
    color: #000000;
}
#copyid {
    margin-left: 10%;
    font-size: 30px;
    cursor: pointer;
}
textarea {
    width: 95%;
    text-align: left;
    height: 60%;
}